<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MoneyTracker</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<div th:if="${!isUserLoggedIn}">
    <h1>Login Page</h1>

    <form method="POST" th:object="${user}">

        <div>
            <h3>Username:</h3>
            <input type="text" th:field="*{username}"/>
        </div>
        <div>
            <h3>Password:</h3>
            <input type="password" th:field="*{password}"/>
        </div>

        <div>
            <br/>
            <button>Login</button>
        </div>

    </form>
</div>
<div th:if="${isUserLoggedIn}">
    <h1>Hello <span th:text="${user.name}"></span></h1>
    <form method="GET" th:action="@{/payment}">
        <button>Make Payment</button>
    </form>
    <br/>
    <form method="GET" th:action="@{/profit}">
        <button>Add Profit</button>
    </form>
    <br/>
    <form method="GET" th:action="@{/manage/balance}">
        <button>Find Balance</button>
    </form>
    <br/>
    <br/>
    <hr>
    <form method="POST" th:action="@{/logout}">
        <button>Logout</button>
    </form>
</div>

</body>
</html>
