<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MoneyTracker</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Login Page</h1>

<form method="POST" th:object="${user}">

    <div>
        <h3>Username:</h3>
        <input type="text" th:field="*{username}"/>
    </div>
    <div>
        <h3>Password:</h3>
        <input type="password" th:field="*{password}"/>
    </div>

    <div>
        <br/>
        <button>Login</button>
    </div>

</form>

</body>
</html>
