<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MoneyTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>

<h1>Hello <span th:text="${name}"></span></h1>
<div th:if="${subject.authenticated}">
  <div class="row">
    <div class="col-md-4">
      <form method="GET" th:action="@{/payment}">
        <button>Make Payment</button>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <form method="GET" th:action="@{/profit}">
        <button>Add Profit</button>
      </form>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <form method="GET" th:action="@{/manage/balance}">
        <button>Find Balance</button>
      </form>
    </div>
        </div>
    </div>
    <br/>
    <br/>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div th:unless="${subject.authenticated}">
                <a th:href="@{/login}" class="btn btn-primary">Login</a>
            </div>
            <div th:if="${subject.authenticated}">
                <form method="POST" th:action="@{/logout}">
                    <button>Logout</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
