<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MoneyTracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1>Add Profits!</h1>

        <form method="POST" th:object="${profit}" th:action="@{/profit}">

            <div>
                <h3>Source:</h3>
                <input type="text" th:field="*{source}"/>
            </div>
            <div>
                <h3>Amount (LE):</h3>
                <input type="number" th:field="*{amount}"/>
            </div>

            <div>
                <br/>
                <button>Add Profit</button>
            </div>

        </form>
        <br/>
        <hr>
        <div>
            <form method="GET" th:action="@{/login}">
                <button>Back to Home</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
